/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1rem;

  background-color: #DE9C36; /* GOLD BACKGROUND */
  color: #1A5332; /* GREEN TEXT */

  padding: 1rem;
}

/* MAIN CONTENT */

main {
  max-width: 50rem;
  margin: 0 auto;
}

/* FORM */

fieldset {
  border: 0.15rem solid #AD322A; /* RED BORDER */
  padding: 2.5rem 1.5rem 1.5rem;

  background-color: rgba(255,255,255,0.15);
}

legend {
  font-size: 2rem;
  color: #1A5332;

  border: 0.15rem solid #AD322A;
  padding: 1rem 1.5rem;

  background-color: #DE9C36;
}

/* GRID */

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* LABELS */

label {
  display: block;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  color: #1A5332;
}

/* INPUTS */

input[type="text"],
textarea {

  width: 100%;

  border: 0.15rem solid #AD322A; /* RED BOXES */

  padding: 0.8rem;

  font-size: 1rem;

  font-family: Arial, Helvetica, sans-serif;

  background-color: white;

  color: #1A5332;
}

input[type="text"] {
  height: 3rem;
}

textarea {
  min-height: 7rem;
  resize: vertical;
}

/* BUTTON */

input[type="button"] {

  background-color: #1E478D; /* BLUE */

  color: white;

  border: none;

  padding: 1rem;

  font-size: 1rem;

  cursor: pointer;

  width: 100%;
}

input[type="button"]:hover {

  background-color: #1A5332; /* GREEN */
}

/* TABLET */

@media (min-width: 25rem) {

  fieldset {
    padding: 2.7rem 1.7rem 1.7rem;
  }

}

/* DESKTOP */

@media (min-width: 40rem) {

  .form-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }

  .message-group,
  .button-group {
    grid-column: 1 / 3;
  }

  input[type="button"] {
    width: 10rem;
  }

}